In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("Suicides in India 2001-2012.csv")

#size of database
print(f"The size of the dataset:\n Rows:{df.shape[0]}\tColumns:{df.shape[1]}")

The size of the dataset:
 Rows:237519	Columns:7

In [8]:
#checking for null values
df.isnull().sum()

State        0
Year         0
Type_code    0
Type         0
Gender       0
Age_group    0
Total        0
dtype: int64

In [9]:
#column list
df.columns

Index(['State', 'Year', 'Type_code', 'Type', 'Gender', 'Age_group', 'Total'], dtype='object')

In [11]:
#records in each state
df['State'].value_counts()

Madhya Pradesh       6792
Maharashtra          6792
Karnataka            6792
Odisha               6791
Andhra Pradesh       6791
Rajasthan            6791
Bihar                6790
Chhattisgarh         6790
Haryana              6790
Kerala               6788
Uttar Pradesh        6787
Assam                6786
Tamil Nadu           6786
Gujarat              6786
Jharkhand            6785
Tripura              6782
Delhi (Ut)           6782
West Bengal          6780
Punjab               6779
Himachal Pradesh     6774
Jammu & Kashmir      6761
Goa                  6759
Uttarakhand          6758
Sikkim               6742
Mizoram              6737
Meghalaya            6733
Puducherry           6730
Chandigarh           6717
A & N Islands        6712
Daman & Diu          6710
Arunachal Pradesh    6707
Nagaland             6705
D & N Haveli         6704
Manipur              6700
Lakshadweep          6674
Total (All India)     312
Total (States)        312
Total (Uts)           312
Name: State, dtype: int64

In [16]:
#Total cases from 2001-12
print("Total cases from 2001-12: \n",df_causes.groupby("Year")["Total"].sum())
tot_suicide = df_causes.groupby("Year")["Total"]

Total cases from 2001-12:
 Year
2001    108506
2002    110417
2003    110851
2004    113697
2005    113914
2006    118112
2007    122637
2008    125017
2009    127151
2010    134599
2011    135585
2012    120488
Name: Total, dtype: int64

In [18]:
#head state where people did sucide due to Bankruptcy or Sudden change in Economic
df_causes_bank = df_causes[df_causes.Type=='Bankruptcy or Sudden change in Economic']
df_causes_bank.head()

,State,Year,Type_code,Type,Gender,Age_group,Total
1,A & N Islands,2001,Causes,Bankruptcy or Sudden change in Economic,Female,0-14,0
48,A & N Islands,2001,Causes,Bankruptcy or Sudden change in Economic,Male,0-14,0
56,A & N Islands,2001,Causes,Bankruptcy or Sudden change in Economic,Female,15-29,0
84,A & N Islands,2001,Causes,Bankruptcy or Sudden change in Economic,Male,15-29,0
118,A & N Islands,2001,Causes,Bankruptcy or Sudden change in Economic,Female,30-44,0